<div class="wrapper" #wrapper>
  <div class="my-container">
    <div class="row">
      <!-- Left main container -->
      <div class="col s6 section one">
        <div class="details">
          <div class="row">
            
            <!-- First section -->
            <div class="col s12">
              <div class="section">
                PRINCE AKACHI
              </div>
            </div>

            <!-- Second section -->
            <div class="col s8 offset-s2">
              <div class="row">
                <div class="col s12">

                  <!-- Menu and names-->
                  <div class="section">
                    <div class="row">
                      <div class="col s3 left-align">Session</div>
                      <div class="col s3 left-align">Extra</div>
                      <div class="col s6 right-align"><i class="material-icons small">add</i></div>
                    </div>
                    <div class="row" style="display: flex;">
                      <div class="col s8 left-align">
                        <h2  class="title">Belinda<br>Christelle</h2>
                      </div>
                      <div class="col s4 valign-wrapper">
                        <div class="right-align" style="width: 100%;">
                          <p>Model</p>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
              </div>
            </div>

            <!-- Buttons -->
            <div class="col s12">
              <div class="section">
                <div class="row">
                  <div class="col s2 social-media-type">Instagram</div>
                  <div class="col s10 left-align sliding-button-container">
                    <div class="sliding-button" (click)="switchImageAndBackgroundColor(0, $event)" [ngClass]="presentTab == 0? 'active' : ''">
                      <p>I/IV</p>
                    </div>
                    <div class="sliding-button" (click)="switchImageAndBackgroundColor(1, $event)" [ngClass]="presentTab == 1? 'active' : ''">
                      <p>II/IV</p>
                    </div>
                    <div class="sliding-button" (click)="switchImageAndBackgroundColor(2, $event)" [ngClass]="presentTab == 2? 'active' : ''">
                      <p>III/IV</p>
                    </div>
                    <div class="sliding-button" (click)="switchImageAndBackgroundColor(3, $event)" [ngClass]="presentTab == 3? 'active' : ''">
                      <p>IV/IV</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sub-details">
          <div class="valign-wrapper">
            <div>
              <p>Nigeria, Lagos</p>
              <p>Model</p>
            </div>
          </div>
        </div>
      </div>


      <!-- Right main container -->
      <div class="col s6 section two" #imageDiv>
        <div class="menu">
          <p>MENU</p>
        </div>
      </div>
    </div>
  </div>
</div>