.wrapper{
    height: 100vh;
    .my-container{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        height: 80%;
        border-radius: 5px;
        border: 1px solid rgba($color: (#000000), $alpha: 0.1);
        margin: 0 auto;
        @media only screen and (min-width: 601px) {
            width: 90%;
        }

        // @media only screen and (max-width: 600px) {
            
        // }
        .row{
            height: 100%;
            .section{
                height: 100%;
            }
            .section.one{
                background-color: white;
                padding: 0;
                .details {
                    height: 80%;
                    padding: 0.75rem
                }
                .sub-details {
                    height: 20%;
                    background-color: black;
                    padding: 0.75rem;
                    p {
                        color: white;
                        display: block;
                    }
                }
            }
            .section.two{
                position: relative;
                .menu{
                    position: absolute;
                    background-color: white;
                    color: black;
                    width: 140px;
                    height: 71px;
                    right: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
    .title{
        margin-top: 0px;
    }
    .social-media-type {
        transform: rotate(-90deg);
    }

    .sliding-button-container {
        display: flex;
        .sliding-button {
            width: 25%;
            border-bottom: 2px solid rgba($color: (#000000), $alpha: 0.3);
            text-align: center;
            position: relative;
            p{
                display: none;
            }
        }
        .active {
            border-bottom: 3px solid rgba($color: (#000000), $alpha: 1);
            // transition: 0.5s ease-in-out;
            p{
                display: block;
                margin-bottom: 6px;
                font-family: Roboto;
                font-weight: bold;
                font-size: 22px;
            }
        }
        .active::after {
            content: "Next page";
            position: absolute;
            bottom: -23px;
            display: block;
            font-size: 11px;
            // left: 50%;
            // transform: translateX(-50%);
            font-style: italic;
            animation: slideforward 0.4s forwards;
        }
    }
}

@keyframes slideforward {
    0% {
        left: 0%;
        transform: translateX(0%);
    }
    100% {
        left: 50%;
        transform: translateX(-50%);
    }
}

@keyframes slidebackward {
    100% {
        left: 0%;
        transform: translateX(0%);
    }
    0% {
        left: 50%;
        transform: translateX(-50%);
    }
}